 body {
  margin: 0 auto;
 }
 p, legend {
  font-family: 'Patua+One', cursive;
  font-size: large
 }
 legend {
  font-size: 2em; 
 }
 h1 {
  font-family: 'Patua+One', cursive;
 }
 .zag {
     width: 80%;
     background-color: #c89d67;
      opacity: 0.7; 
      filter: alpha(Opacity=70);
 }
 .osob {
     width: 80%;
     background-color: #c89d67;
      opacity: 0.7; 
      filter: alpha(Opacity=70);
 }
 .fin {
     width: 80%;
 }