* {
    margin: 0 auto;
}
body {
    max-width: 1200px;
    background: #c89d67;
    background-size: 100%;
}
header, footer, section {
    display: block;
}
section {
    margin: 30px;
}
h1 {
     color: #DC6658;
     font-family: 'Shrikhand', serif;
     font-size: 38px;
     text-align: center;
     text-shadow: 5px 5px 15px black;
}
#logo {
     display: flex;
     justify-content: flex-start;
 }
ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #DC6658;
    opacity: 0.7; 
    filter: alpha(Opacity=70);
}
ul.topnav li {
    float: left;
    font-family: 'Patua+One', cursive;
}

ul.topnav li a {
    display: inline-block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 27px;
}

ul.topnav li a:hover {background-color: #555;}

ul.topnav li.icon {
    display: none;
}

@media screen and (max-width:680px) {
  ul.topnav li:not(:first-child) {display: none;}
  ul.topnav li.icon {
    float: right;
    display: inline-block;
  }
}
@media screen and (max-width:680px) {
  ul.topnav.responsive {position: relative;}
  ul.topnav.responsive li.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  ul.topnav.responsive li {
    float: none;
    display: inline;
  }
  ul.topnav.responsive li a {
    display: block;
    text-align: left;
  }
}
#content {
    position: container;
}
article {
    float: left;
    width: 100%;
}
sidebar {
     padding: 20px;
}

.img-thumbnail {
    float: right; 
    margin: 7px 0 7px 7px; 
    border: 2px solid #ff0000;
}
.iconsocserv {
    width: 32px;
}
.embed-responsive-item {
    max-width: 360px;
    max-height: auto;
    margin: 20px;
}

