* {
    margin: 0 auto;
}
body {
    margin: 0 auto;
    max-width: 1200px;
    background: #c89d67;
    background-size: 100%;
}
header, footer, section {
    display: block;
}
section {
    margin: 30px;
    background-position: top-center;
    background-size: 100em;
}
h1 {
     color: #DC6658;
     font-family: 'Shrikhand', serif;
     font-size: 38px;
     text-align: center;
     text-shadow: 5px 5px 15px black;
}
h2 { 
    font-family: 'Tangerine', cursive;
     font-size: 68px;
     text-align: center;
     text-shadow: 5px 5px 15px black;
}
#logo {
     display: flex;
     justify-content: flex-start;
 }
ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #DC6658;
    opacity: 0.7; 
    filter: alpha(Opacity=70);
}
ul.topnav li {
    float: left;
    font-family: 'Patua+One', cursive;
}

ul.topnav li a {
    display: inline-block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 27px;
}

ul.topnav li a:hover {background-color: #555;}

ul.topnav li.icon {
    display: none;
}

@media screen and (max-width:680px) {
  ul.topnav li:not(:first-child) {display: none;}
  ul.topnav li.icon {
    float: right;
    display: inline-block;
  }
}
@media screen and (max-width:680px) {
  ul.topnav.responsive {position: relative;}
  ul.topnav.responsive li.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  ul.topnav.responsive li {
    float: none;
    display: inline;
  }
  ul.topnav.responsive li a {
    display: block;
    text-align: left;
  }
}
#content {
    position: container;
}
article {
    float: left;
    width: 100%;
}
sidebar {
     padding: 20px;
}

.img-thumbnail {
    float: left; 
    margin: 7px 0 7px 7px; 
    border: 2px solid #ff0000;
}
.iconsocserv {
    width: 32px;
}
.embed-responsive-item {
    max-width: 360px;
    max-height: auto;
    margin: 20px;
}

.column {
    -webkit-column-width: 200px;
    -moz-column-width: 200px;
    column-width: 200px;
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
    -webkit-column-gap: 30px;
    -moz-column-gap: 30px;
    column-gap: 30px;
    
}

/* HEADER*/

header {
    height: 200;
   background-image: url('image/gradient.jpg') 100% 100% no-repeat; /* Добавляем фон */
   background-size: cover; /* Масштабируем фон */
   /*background-size: 100%;*/
   font: 16em/1 Arial;
  
}
div#header {
    position: relative;
    width: 900px;
}

.text--line {
  font-size: .8em;
}

svg {
  position: absolute;
  width: 100%;
  height: 100%;
}

.text-copy {
  fill: none;
  stroke: white;
  stroke-dasharray: 7% 14%;
  stroke-width: 8px;
  -webkit-animation: stroke-offset 12s infinite linear;
          animation: stroke-offset 12s infinite linear;
}
.text-copy:nth-child(1) {
  stroke: #360745;
  stroke-dashoffset: 7%;
}
.text-copy:nth-child(2) {
  stroke: #D61C59;
  stroke-dashoffset: 14%;
}
.text-copy:nth-child(3) {
  stroke: #E7D84B;
  stroke-dashoffset: 21%;
}
.text-copy:nth-child(4) {
  stroke: #EFEAC5;
  stroke-dashoffset: 28%;
}
.text-copy:nth-child(5) {
  stroke: #1B8798;
  stroke-dashoffset: 35%;
}

@-webkit-keyframes stroke-offset {
  50% {
    stroke-dashoffset: 35%;
    stroke-dasharray: 0 87.5%;
  }
}

@keyframes stroke-offset {
  50% {
    stroke-dashoffset: 35%;
    stroke-dasharray: 0 87.5%;
  }
}
