* {
    margin: 0 auto;
}
body {
    max-width: 1200px;
    background: #c89d67 url( image/fon.jpg ) no-repeat;
    background-size: 100%;
}
header, footer, section {
    display: block;
}
ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #c89d67;
    opacity: 0.7; 
    filter: alpha(Opacity=70);
}
ul.topnav li {
    float: left;
    font-family: 'Patua+One', cursive;
}

ul.topnav li a {
    display: inline-block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 27px;
}

ul.topnav li a:hover {background-color: #555;}

ul.topnav li.icon {
    display: none;
}

@media screen and (max-width:680px) {
  ul.topnav li:not(:first-child) {display: none;}
  ul.topnav li.icon {
    float: right;
    display: inline-block;
  }
}
@media screen and (max-width:680px) {
  ul.topnav.responsive {position: relative;}
  ul.topnav.responsive li.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  ul.topnav.responsive li {
    float: none;
    display: inline;
  }
  ul.topnav.responsive li a {
    display: block;
    text-align: left;
  }
}
h1 {
     color: #DC6658;
     font-family: 'Shrikhand', serif;
     font-size: 2.5em;
     text-align: center;
     text-shadow: 5px 5px 15px black;
     
     letter-spacing: -1px;
     font-weight: 700;
     text-transform: uppercase;
     animation: blur .75s ease-out infinite;
     text-shadow: 0px 0px 5px #fff,
      0px 0px 7px #fff;
}

@keyframes blur{
  from{
      text-shadow:0px 0px 10px #fff,
      0px 0px 10px #fff, 
      0px 0px 25px #fff,
      0px 0px 25px #fff,
      0px 0px 25px #fff,
      0px 0px 25px #fff,
      0px 0px 25px #fff,
      0px 0px 25px #fff,
      0px 0px 50px #fff,
      0px 0px 50px #fff,
      0px 0px 50px #7B96B8,
      0px 0px 150px #7B96B8,
      0px 10px 100px #7B96B8,
      0px 10px 100px #7B96B8,
      0px 10px 100px #7B96B8,
      0px 10px 100px #7B96B8,
      0px -10px 100px #7B96B8,
      0px -10px 100px #7B96B8;}
}



.iconsocserv {
    width: 32px;
}
section {
    height: 600px;
    background-position: top-center;
    background-size: 100em;
}
footer {
    height: 100px;
}
.img-responsive {
    max-width: 100%;
    height: auto;
    border-radius: 50%;
    border: 2px solid gold;
}